.main-section__container {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.main-section__text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-section__image {
	width: min(90vw, 450px);
	margin-inline: auto;
}

.main-section__title {
	text-align: center;
}

.main-section__link {
	display: flex;
	align-items: center;
	color: hsl(170, 45%, 43%);
	border-bottom: 2px solid hsl(170, 45%, 43%);
	padding-bottom: 3px;
}

.main-section__link-icon {
	width: 1.5rem;
	margin-left: 0.5rem;
	transition: 0.5s ease-in-out;
}

.main-section__link-icon:hover {
	transform: rotate(360deg);
}
