.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem 2rem;
  background-color: #f8f8fe;
}

.mainSection__textContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex: 1;
  gap: 1.6rem;
  margin-bottom: 3.6rem;
}

.mainSection__image {
  width: min(85vw, 45rem);
  flex: 1;
  margin-bottom: 9rem;
}

.mainSection__lhs {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 39rem;
}

.mainSection__title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.mainSection__textContent p {
  font-size: 1.4rem;
}

.mainSection__link {
  display: flex;
  align-items: center;
  color: hsl(170, 45%, 43%);
  border-bottom: 0.2rem solid hsl(170, 45%, 43%);
  padding-bottom: 0.3rem;
  font-size: 1.2rem;
  margin-bottom: 4.7rem;

  p {
    color: #3da08f;
  }
}

.mainSection__linkIcon {
  width: 1.5rem;
  margin-left: 0.5rem;
  transition: 0.5s ease-in-out;
}

.mainSection__linkIcon:hover {
  transform: rotate(360deg);
}

@media screen and (min-width: 900px) {
  .mainSection {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 9rem;
    padding-inline: 8rem;
  }

  .mainSection__lhs {
    align-items: flex-start;
    padding-top: 10rem;
    flex: 1;
    max-width: none;
  }

  .mainSection__image {
    flex: 1;
    margin-bottom: 0;
  }

  .mainSection__textContent {
    align-items: flex-start;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .mainSection__title {
    font-size: 4rem;
    line-height: 6rem;
    text-align: left;
  }

  .mainSection__link {
    align-self: flex-start;
    max-width: 16.6rem;
  }
}
