.contact-section__container {
	background-color: hsl(243, 87%, 12%);
	padding: 3rem 0 1rem 0;
}

.contact-section__container * {
	color: hsl(0, 0%, 75%);
}

.contact-section__logo {
	margin-left: 40px;
	margin-bottom: 20px;
	filter: brightness(0) invert(1);
	width: 8rem;
}

.contact-section__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 0;
}

li {
	display: flex;
	margin-bottom: 1.2rem;
}

img {
	margin-right: 20px;
}

.fb,
.twitter,
.instagram {
	border: 1px solid hsl(0, 0%, 75%);
	border-radius: 50%;
	width: 1.5rem;
	height: auto;
	padding: 3px;
	margin-right: 0.6rem;
}

@media screen and (max-width: 900px) {
	.contact-section__grid {
		grid-template-columns: 100%;
	}

	.contact-section__column-4 {
		margin-inline: auto;
	}
}
