.mobileMenu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.mobileMenu__backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    z-index: 10;
}

.mobileMenu__main {
    background-color: #fff;
    position: absolute;
    width: 70%;
    top: 0;
    left: 0;
    height: 100vh;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    z-index: 15;
}

.mobileMenu__list {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mobileMenu__item {
    padding-inline: 1.5rem;
    color: hsl(238, 22%, 44%);
}
