.testimonial__container * {
	color: hsl(243, 87%, 12%);
	margin-inline: 20px;
}

.testimonial__quotation-mark {
	width: 1.2rem;
	margin-bottom: 0.5rem;
}

.testimonial__text {
	line-height: 1.5;
}

.testimonial__author {
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

.testimonial__author-avatar {
	border-radius: 50%;
	width: 20%;
	margin: 0;
}

.testimonial__author-column {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 0;
}

.testimonial__author-name,
.testimonial__author-position {
	margin: 0;
}

.testimonial__author-name {
	font-weight: 600;
}

.testimonial__author-position {
	font-size: 0.8rem;
	margin-top: 3px;
}
