.access-section__container {
	margin-top: 5rem;
	background-color: hsl(238, 22%, 44%);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 3rem 0;
}

.access-section__container * {
	color: hsl(240, 75%, 98%);
}

.access-section__title {
	padding-inline: 3rem;
	font-size: 1.5rem;
}

.access-section__main-content {
	line-height: 1.7;
	padding-inline: 3rem;
}

.access-section__form {
	width: 70%;
}

@media screen and (min-width: 900px) {
	.access-section__container {
		flex-direction: row;
		text-align: left;
	}

	.access-section__main-content {
		line-height: 1.4;
	}

	.form {
		flex-direction: column;
		width: 80%;
	}

	.form__submit {
		margin-left: 0;
		width: 40%;
	}
}
