.accessSection__container {
    background-color: hsl(238, 22%, 44%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5.4rem 4.8rem 7.1rem;
}

.accessSection__textContent {
    display: flex;
    flex-direction: column;
}

.accessSection__container * {
    color: hsl(240, 75%, 98%);
}

.accessSection__title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.accessSection__mainContent {
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin-bottom: 2.4rem;
}

.accessSection__form {
    width: 100%;
}

@media screen and (min-width: 900px) {
    .accessSection__container {
        flex-direction: row;
        text-align: left;
    }

    .accessSection__mainContent {
        line-height: 1.4;
    }

    .accessSection__form {
        flex-direction: column;
        width: 80%;
    }
}
