.form {
    display: flex;
    flex-direction: column;
    margin-inline: 2rem;
    gap: 1.6rem;
}

.form__input,
.form__submit {
    padding: 1.2rem;
    border-radius: 0.5rem;
}

.form__input {
    color: #c2c2c2;
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    border: 1px solid #07043b;
    outline: none;
}

.form__inputInvalid {
    outline: red;
    border: 1px solid red;
}

.form__submit {
    background-color: hsl(224, 93%, 58%);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    box-shadow: 0.2rem 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
    transition: filter 0.5s ease-in-out;
}

.form__validationContainer {
    height: 1.5rem;
}

.form__validationMessage {
    color: red;
    font-size: 1.2rem;
    margin-inline: 2rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.form__submit:hover {
    filter: brightness(1.5);
}

@media screen and (min-width: 900px) {
    .form {
        margin: 0;
        flex-direction: row;
    }

    .form__input {
        width: 100%;
        flex: 62;
    }

    .form__submit {
        flex: 38;
    }
}
