.form {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 80%;
}

.form__input,
.form__submit {
    padding: 1rem;
    margin-bottom: 1remm;
}

.form__submit {
    background-color: hsl(224, 93%, 58%);
    color: #f8f8f8;
    font-weight: 600;
    border: none;
    box-shadow: 0rem 1rem 0.5rem -1rem #4e4e4e;
    transition: filter 0.5s ease-in-out;
}

.form__submit:hover {
    filter: brightness(1.5);
}

@media screen and (min-width: 900px) {
    .form__input {
        width: 100%;
    }

    .form__submit {
        margin-left: 1rem;
        width: 40%;
    }
}
