.nav-container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 40px;
    width: 50%;
}

.nav {
    padding: 40px;
    display: flex;
}

.nav-item {
    padding-inline: 1.5rem;
}

.hamburger {
    display: none;
    margin: 40px;
}

@media screen and (max-width: 600px) {
    .nav-container {
    }

    .nav {
        align-self: center;
        top: 6rem;
        left: -100%;
        position: absolute;
        text-align: center;
        background-color: #f8f8f8;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        transition: 0.4s;
    }

    .nav.active {
        left: 0px;
    }

    .nav-item {
        font-size: 2rem;
        padding: 1rem;
    }

    .hamburger {
        display: inline-block;
        font-size: 2rem;
    }
}
